
/*display current time clock*/

#display-time{
    text-align: center; 
    margin-top: 50px;
}

#clock{
    border: 1px solid black;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

/* Set Alarm Form*/

#set-alarm-field{
    margin-top:50px;
    text-align:center;
}

#controls{
    margin-top:22px;
    text-align:center;  
}

